#mainConfirmation{
    height: 100rem;
    background-color: lighten($color: $color-tertiary, $amount: 8);
    padding-top: 20rem;
}

#blocConfirmationOrder{
    border: 1px solid darken($color: $color-secondary, $amount: 100);
    margin-top: 7px;
    height: 250px;
    width: 70%;
    background-color: $color-card;
    @include minMaxWidth;
    @include center;
    h2{
        font-size: 25px;
        text-align: justify;
        background-color: $color-twitter;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p.pValid{
        color: darken($color: $color-buttonOne, $amount: 45);
        font-weight: 900;
        font-size: 20px;
    }
    p{
        text-align: justify;
        font-size: 20px;
    }
}

#blocResumeOrder{
    margin-top: 10px;
}

#idCommand, #priceTotalCommand, #thanks {/*vient du JavaScript de façon dynamique*/
    font-weight: 900;
}

#footerConfirmation{
    margin-top: 0px;
}