body{
    margin: 0;
    padding: 0;
    min-width: 400px;
}

#header{
  min-width: 400px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 4px solid darken($color: $color-tertiary, $amount: 30);
  background-color: $color-tertiary;
  a{
    text-decoration: none;
  }
  a:focus{
    color: darken($color: $color-secondary, $amount: 100);
  }
  a:visited{
    color: darken($color: $color-secondary, $amount: 100);
  }
  .blocHeaderLogoUserBasket{
    height: 4rem;
    align-items: center;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    .blocHeaderLogo{
      margin-left: 5px;
      display: flex;
      .iconeHeaderBars{
        font-size: 25px;
      }
      .blocLinkHeaderLogo{
        margin-left: 5px;
        justify-content: center;
        align-content: center;
        .logoHeaderOrinoco{
          font-family: 'Finger Paint',cursive, sans-serif;
          font-size: 25px;
        }
        .iconeHeaderCart{
          font-size: 25px;
          .fa-shopping-cart{
            background: -webkit-linear-gradient(left,$color-primary,$color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }      
  }

  .blocHeaderUserBasket{
    display: flex;
    .blocLinkHeaderUser{
    }
    padding-right: 1rem;
    .textHeaderUser{
      font-size: 20px;
    }
    .iconeHeaderUser{
      font-size: 20px;
      color: darken($color: $color-buttonOne, $amount: 45);
      border-radius: 10px;
      padding: 5px;
    }
    .textHeaderBasket{
    font-size: 20px;
    }
    .iconeHeaderBasket{
    font-size: 20px;
    color: darken($color: $color-primary, $amount: 20%);
    }
  }
  
  .blocHeaderSearch{
    display: flex;
    justify-content: center;
    input{
      height: 50px;
      width: 60%;
      font-size: 16px;
      border: none;
      background-color: $color-quatenary;
      border-radius: 10px 0px 0px 10px;
      padding: 16px;
    }
    input:focus{
      outline: none;
    }
    .iconeHeaderSearch{
      border-radius: 0px 10px 10px 0px;
      height: 50px;
      width: 60px;
      align-items: center;
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 18px;
      background-color: $color-quinquenary;
    }
    .iconeHeaderSearch:hover{
      cursor: pointer;
    }
  }
}