*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainPage {
  margin: 0;
  padding: 0;
  @include center;
  text-align: center;
  margin-top: -42px;
  height: 147rem;
}

.blocMainPage{
  @include minMaxWidth;
  @include center;
}

.titleSectionOriNews{
  margin-top: 215px;
  font-size: 30px;
  .titleOriNews{
    font-family: 'Finger Paint',cursive, sans-serif;
  }
}

.blocImgOriBook {
  height: 29rem;
  margin-top: 3rem;
}

.blocImgOriBook img {
  cursor: pointer;
  margin-top: 32px;
}

.blocImgOriTextil {
  height: 20rem;
  margin-top: -11rem;
}

.blocImgOriTextil img{
    cursor: pointer;
    margin-top: 30px;
}

img{
  height: 15rem;
  width: 384px;
}

.welcomeSection {
  text-align: center;
  margin-top: 32px;
  height: 15rem;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.titleSectionOriArticles{
  margin-top: 2rem;
  font-size: 30px;
  .titleOriArticles{
    font-family: 'Finger Paint',cursive, sans-serif;
  }
}

.oriTeddiesCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 6rem;
  .oriTeddiesSection {
    margin-top: 32px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.oriCamerasCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriCamerasSection {
    margin-top: 32px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.oriFurnituresCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriFurnituresSection {
    margin-top: 32px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.titleOriTeddies{
  background-color: lightgoldenrodyellow;
  width: 385px ;
  margin-left: auto;
  margin-right: auto;
}

.titleOriCameras{
  background-color: lightgray;
  width: 385px ;
  margin-left: auto;
  margin-right: auto;
}

.titleOriFurnitures{
  background-color: whitesmoke;
  width: 385px ;
  margin-left: auto;
  margin-right: auto;
}

.bioSection {
  text-align: center;
  margin-top: 32px;
  height: 213px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}