*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*#mainPage {
  margin: 0;
  padding: 0;
  .blocMainPage {
    max-width: 1345px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}*/

#mainPage {
  margin: 0;
  padding: 0;
  max-width: 1345px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.blocImgOriBook {
  height: 29rem;
  margin-top: 11rem;
}

.blocImgOriTextil {
  height: 20rem;
  margin-top: -11rem;
}

img {
  height: 15rem;
  width: 384px;
  cursor: pointer;
}

.welcomeSection {
  border: 2px solid $color-primary;
  background-color: lighten($color: $color-primary, $amount: 40);
  text-align: center;
  margin-top: 32px;
}

.oriTeddiesCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriTeddiesSection {
    margin-top: 32px;
    border: 2px solid $color-secondary;
    background-color: lighten($color: $color-secondary, $amount: 25);
    a {
      text-decoration: none;
    }
  }
}

.oriCamerasCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriCamerasSection {
    margin-top: 32px;
    border: 2px solid $color-secondary;
    background-color: lighten($color: $color-secondary, $amount: 25);
    a {
      text-decoration: none;
    }
  }
}

.oriFurnituresCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriFurnituresSection {
    margin-top: 32px;
    border: 2px solid $color-secondary;
    background-color: lighten($color: $color-secondary, $amount: 25);
    a {
      text-decoration: none;
    }
  }
}
