*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainPage {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -42px;
}

.blocImgOriBook {
  height: 29rem;
  margin-top: 11rem;
}

.blocImgOriBook img {
  cursor: pointer;
  margin-top: 32px;
}

.blocImgOriTextil {
  height: 20rem;
  margin-top: -11rem;
}

.blocImgOriTextil img{
    cursor: pointer;
    margin-top: 30px;
}

img{
  height: 15rem;
  width: 384px;
}

.welcomeSection {
  border: 2px solid $color-primary;
  background-color: lighten($color: $color-primary, $amount: 40);
  text-align: center;
  margin-top: 32px;
}

.oriTeddiesCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriTeddiesSection {
    margin-top: 32px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.oriCamerasCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriCamerasSection {
    margin-top: 32px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.oriFurnituresCards {
  font-family: 'Finger Paint',cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  .oriFurnituresSection {
    margin-top: 32px;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
