#mainOriBasket{
    padding-top: 200px;
    height: 100rem;
    background-color: #e8e8e8;
}

.blocMainOriBasket{
    @include minMaxWidth;
    @include center;
}

#titlePageOribasket{
    text-align: center;
    font-family: 'Finger Paint',cursive, sans-serif; 
    background-color: burlywood;
    width: 400px;
    font-size: 30px;
    @include center;
}

#blocProductBasket{
    @include center;
    margin-top: 5rem;
    width: 400px;
    height: auto;
    background-color: whitesmoke;
    display: grid;
    text-align: center;
    
    
}
.blocRecapOrder{/*depuis le _oribasket.js*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;

}

.blocRecapOrder img{/*depuis le _oribasket.js*/
    height: 60px; 
    width: 60px;
}

.nameBlocRecapOrder{/*depuis le _oribasket.js*/
    font-size: 25px;
}

.priceBlocRecapOrder{/*depuis le _oribasket.js*/
    font-size: 20px;
}

.buttonDelete{/*depuis le _oribasket.js*/
    font-size: 20px;
}

.buttonDelete:hover{
    cursor: pointer;
}

#displayPriceHtml{
    height:62px;
    font-size: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#totalDisplayPriceHtml{
    font-weight: bold;
    margin-left: 10px;
}

#emptyBasket{/*depuis le _oribasket.js*/
    font-size: 25px;
    font-weight: bold;
}

/*******------- Debut formulaire -------*******/

#blocFormOrder{/*depuis le _oribasket.js*/
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border: 2px solid;
    display:grid;
    /*row(rang) / column (col) */
    grid-template: repeat(8, 70px) / repeat(4, 99px);
}

#titleBlocFormOrder{/*depuis le _oribasket.js*/
    background-color: $color-twitter;
    /*debut row / debut col / fin row / fin col */
    grid-area: 1 / 1 / 2 / -1;
    height: 70px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#firstNameBlocFormOrder {/*depuis le _oribasket.js*/
    background-color: lightgrey;
    height: 80px;
    width: 396px;

    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    #firstName{
        font-size: 20px;
    }
    #firstNameMissing{
        color: red;
        font-size: 16px;
    }
}

#lastNameBlocFormOrder{/*depuis le _oribasket.js*/
    background-color: whitesmoke;
    height: 80px;
    width: 396px;
    text-align: center;
    padding-top: 25px;
    #labelLastName{
        font-size: 20px;
    }
    #lastName{
        font-size: 20px;
    }
    #lastNameMissing{
        color: red;
        font-size: 16px;
    }
}

#addressBlocFormOrder{/*depuis le _oribasket.js*/
    background-color: lightgrey;
    height: 80px;
    width: 396px;
    text-align: center;
    padding-top: 25px;
    #labelAddress{
        font-size: 20px;
    }
    #address{
        font-size: 20px;
        height: 30px;
    }
    #addressMissing{
        color: red;
        font-size: 16px;
    }
}

#cityBlocFormOrder{/*depuis le _oribasket.js*/
    background-color: whitesmoke;
    height: 80px;
    width: 396px;
    text-align: center;
    padding-top: 25px;
    #labelCity{
        font-size: 20px;
    }
    #city{
        font-size: 20px;
    }
    #cityMissing{
        color: red;
        font-size: 16px;
    }

}

#emailBlocFormOrder{/*depuis le _oribasket.js*/
    background-color:lightgrey;
    height: 80px;
    width: 396px;
    text-align: center;
    padding-top: 25px;
    #labelEmail{
        font-size: 20px;
    }
    #email{
        font-size: 20px;
    }
    #emailMissing{
        color: red;
        font-size: 16px;
    }
}

#btnSendFormBlocFormOrder{/*depuis le _oribasket.js*/
    padding-left: 50px;
    padding-top: 20px;
}

#btnSendFormOrder{/*depuis le _oribasket.js*/
    background-color: lightgrey;
    /*debut row / debut col / fin row / fin col */
    grid-area: 8 / 1 / 9 / -1 ;
    font-size: 20px;
    border-radius: 25px;
    height: 40px;
    width: 300px;
}
