/****************************
Debut _orifurnituresarticles.html
*****************************/

#mainArticlesFurnitures{
    text-align: center;
    margin-top: 65px;
    height: 172rem;
    @include center;
    .blocMainArticlesFurnitures{
      padding-top: 9rem;
      @include minMaxWidth;
      @include center;
    }
    #titlePageFurnitures{
      font-family: 'Finger Paint',cursive, sans-serif; 
      padding: 5px;
      background-color: $color-quatenary;
      width: 360px;
      font-size: 30px;
      border-radius: 10px;
      @include borderColorSolid;
      @include center;
  
    }
  }
  
  .blocSectionArticlesFurnitures {
    @include center;
    @include minMaxWidth;
  }
  
  #blocCardArticleFurnitures{
    width: 300px;
    margin-top: 9rem;
    @include center;
  }
  
  #linkCardArticleFurnitures {
    text-decoration: none;
    color: darken($color: $color-secondary, $amount: 100);
  }
  
  #imageCardArticleFurnitures {
    width: 100%;
    height: 15rem;
    @include borderColorSolid;
    @include borderTopRightLeftRadius;
    @include borderTopLeftRightSolid;
  }
  
  .detailsCardArticleFurnitures {
    display: grid;
    /*row(rang) / column (col) */
    grid-template: 1fr 16px 1fr / repeat(2, 1fr);
    background-color: $color-quatenary;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -8px;
    @include borderColorSolid;
    @include borderBottomLeftRightRadius;
    @include borderBottomLeftRightSolid;
  }
  
  #titleCardArticleFurnitures {
    grid-area: 1 / 1 / 2 / 4;
    background-color: lighten($color: $color-card, $amount: 30);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    @include borderColorSolid;
  }
  
  #priceCardArticleFurnitures {
    /*debut row / debut col / fin row / fin col */
    grid-area: 3 / 3 / 3 / 4;
    flex-direction: row-reverse;
    background-color: lighten($color: $color-card, $amount: 30);
    border-radius: 25px;
    padding: 5px;
    @include borderColorSolid;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  
/****************************
Fin _orifurnituresarticles.html
*****************************/

/****************************
Debut _orifurnitureproduct.html
*****************************/
#mainProductFurniture{
  text-align: center;
  @include center;
  margin-top: 65px;
  padding-top: 7rem;
  height: 110rem;
  background-color: darken($color: whitesmoke, $amount: 5);
  .blocMainProductFurniture{
    @include center;
    @include minMaxWidth;
  }
  #titlePageFurniture{
    font-family: 'Finger Paint',cursive, sans-serif;
    padding: 5px;
    background-color: $color-quatenary;
    width: 360px;
    font-size: 30px;
    border-radius: 15px;
    @include borderColorSolid;
    @include center;
  }
}

#blocSectionProductFurniture{
  @include center;
  @include minMaxWidth;
}

#blocCardProductFurniture{
  @include center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blocHeaderCardProductFurniture{
  margin-top: 10rem;
  background-color: $color-quatenary;
  width: 384px;
  border-radius: 10px;/*pas utiliser la mixin car ce n'est pas la même valeur de px*/
  img{
    width: 100%;
    height: 360px;
    cursor: zoom-in;
    border-top-left-radius: 10px;/*pas utiliser la mixin car ce n'est pas la même valeur de px*/
    border-top-right-radius: 10px;
  }
  #titleCardProductFurniture{
    font-size: 30px;
    padding: 5%;
  }
}

#blocDetailedProductFurniture{
   /*row(rang) / column (col) */
  display: grid;
  grid-template: repeat(9, 80px) / repeat(4, 100px);
  border: 3px solid $color-card;
  background-color: $color-card;
  width: 400px;
  height: 720px;
  border: 1px solid;
  margin-top: 5rem;
  #noteOpinionCustomerFurniture{
  /*debut row / debut col / fin row / fin col */
    grid-area: 1 / 1 / 1 / 3;
    font-size: 18px;
    list-style-type: none;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    color: darken($color: $color-instagram, $amount: 20);
  }
  #numberOpinionCustomerFurniture{
    grid-area: 1 / 3 / 1 / -1 ;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;  
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #descriptionNumberCardProductFurniture{
    grid-area: 2 / 1 / 2 / -1;
    font-size: 20px;
  }
  #descriptionPriceCardProductFurniture{
    grid-area: 3 / 1 / 3 / 3;
    font-size: 20px;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #priceCardProductFurniture{
    grid-area: 3 / 2 / 3 / -1;
    font-size: 20px;
    font-weight: bold;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #descriptionProductVarnishOptionFurniture{
    grid-area: 4 / 1 / 4 / 3;
    font-size: 20px;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  
  #blocProductVarnishOptionFurniture{
    grid-area: 4 / 3 / 4 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }

  #productVarnishOptionFurniture{
  grid-area: 4 / 2 / 4 / -1;
  font-size: 18px;
  height: 30px;
  width: 140px;
  }
  #amountOrderProductFurniture{
    grid-area: 5 / 1 / 5 / 3;
    font-size: 20px;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #numberOrderProductFurniture{
    grid-area: 5 / 3 / 5 / -1;
    font-size: 18px;
    width: 60px;
    margin: 24px;
    padding: 3px;
  }
  #blocButtonAddBasketFurniture{
    grid-area: 6 / 1 / 6 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    #buttonAddBasketFurniture{
      text-decoration: none;
      font-size: 20px;
      color:darken($color: $color-secondary, $amount: 100);
      background-color: $color-buttonOne;
      width: 210px;
      height: 40px;
      border: 3px solid darken($color: $color-buttonOne, $amount: 30);
      border-radius: 50px;
      @include Flex-JustifyContentCenter-AlignItemsCenter;
    }
  }

  #blocButtonSeeBasketFurniture{
    grid-area: 7 / 1 / 7 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    #buttonSeeBasketFurniture{
      text-decoration: none;
      font-size: 20px;
      color:darken($color: $color-secondary, $amount: 100);
      background-color: $color-buttonTwo;
      width: 210px;
      height: 40px;
      border: 3px solid darken($color: $color-buttonTwo, $amount: 30);
      border-radius: 50px;
      @include Flex-JustifyContentCenter-AlignItemsCenter;
    }
  }
  #blocButtonContinuedBuyFurniture{
    grid-area: 8 / 1 / 8 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    #buttonContinuedBuyFurniture{
      text-decoration: none;
      font-size: 20px;
      color:darken($color: $color-secondary, $amount: 100);
      background-color: $color-buttonThree;
      width: 210px;
      height: 40px;
      border: 3px solid darken($color: $color-buttonThree, $amount: 30);
      border-radius: 50px;
      @include Flex-JustifyContentCenter-AlignItemsCenter;
    }
  }

  #informationPriceCardProductFurniture{
    grid-area: 9 / 1 / 9 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
}

/****************************
Fin _orifurnitureproduct.html
*****************************/