/****************************
Debut _oriteddiesarticles.html
*****************************/

#mainArticlesTeddies{
  text-align: center;
  margin-top: 65px;
  height: 172rem;
  background-color: lighten($color: $color-tertiary, $amount: 5);
  @include center;
  .blocMainArticlesTeddies{
    padding-top: 9rem;
    @include minMaxWidth;
    @include center;
  }
  #titlePageTeddies{
    font-family: 'Finger Paint',cursive, sans-serif; 
    padding: 5px;
    background-color: $color-six;
    width: 360px;
    font-size: 30px;
    border-radius: 10px;
    @include borderColorSolid;
    @include center;
    &:hover{
      text-shadow: 1px 0px 15px black;
      box-shadow: 1px 0px 15px black;
    }
  }
}

.blocSectionArticles {
  @include center;
  @include minMaxWidth;
}

#blocCardArticle{
  width: 300px;
  margin-top: 9rem;
  @include center;
}

#linkCardArticle {
  text-decoration: none;
  color: darken($color: $color-secondary, $amount: 100);
}

#imageCardArticle {
  width: 100%;
  height: 15rem;
  @include borderColorSolid;
  @include borderTopRightLeftRadius;
  @include borderTopLeftRightSolid;
  &:hover{
    border-top-color: black;
    border-left-color: black;
    border-right-color: black;
    box-shadow: 1px 0px 15px black;
  }
}


.detailsCardArticle {
  display: grid;
  /*row(rang) / column (col) */
  grid-template: 1fr 16px 1fr / repeat(2, 1fr);
  background-color: lighten($color: $color-primary, $amount: 30);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -8px;
  @include borderColorSolid;
  @include borderBottomLeftRightRadius;
  @include borderBottomLeftRightSolid;
  &:hover{
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    box-shadow: 1px 0px 15px black;
  }
}

#titleCardArticle {
  grid-area: 1 / 1 / 2 / 4;
  background-color: lighten($color: $color-card, $amount: 30);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  @include borderColorSolid;
  &:hover{
    border-color: black;
    box-shadow: 1px 0px 15px black;
  }
}

#priceCardArticle {
  /*debut row / debut col / fin row / fin col */
  grid-area: 3 / 3 / 3 / 4;
  flex-direction: row-reverse;
  background-color: lighten($color: $color-card, $amount: 30);
  border-radius: 25px;
  padding: 5px;
  @include borderColorSolid;
  @include Flex-JustifyContentCenter-AlignItemsCenter;
  &:hover{
    border-color: black;
    box-shadow: 1px 0px 15px black;
  }
}
/****************************
Fin _oriteddiesarticles.html
*****************************/

/****************************
Debut _oriteddyproduct.html
*****************************/
#mainProductTeddy{
  text-align: center;
  margin-top: 65px;
  padding-top: 7rem;
  height: 110rem;
  background-color: darken($color: whitesmoke, $amount: 5);
  @include center;
  .blocMainProductTeddy{
    @include center;
    @include minMaxWidth;
  }
  #titlePageTeddy{
    font-family: 'Finger Paint',cursive, sans-serif;
    padding: 5px;
    background-color: $color-six;
    width: 360px;
    font-size: 30px;
    border-radius: 15px;
    @include borderColorSolid;
    @include center;
  }
}

#blocSectionProduct{
  @include center;
  @include minMaxWidth;
}

#blocCardProduct{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include center;
}

#blocHeaderCardProduct{
  margin-top: 10rem;
  background-color: lighten($color: $color-primary, $amount: 30);
  width: 384px;
  border-radius: 10px;/*pas utiliser la mixin car ce n'est pas la même valeur de px*/
  img{
    width: 100%;
    height: 360px;
    cursor: zoom-in;
    border-top-left-radius: 10px;/*pas utiliser la mixin car ce n'est pas la même valeur de px*/
    border-top-right-radius: 10px;
  }
  #titleCardProduct{
    font-size: 30px;
    padding: 5%;
  }
}

#blocDetailedProduct{
   /*row(rang) / column (col) */
  display: grid;
  grid-template: repeat(9, 80px) / repeat(4, 100px);
  border: 3px solid $color-card;
  background-color: $color-card;
  width: 400px;
  height: 720px;
  border: 1px solid;
  margin-top: 5rem;
  #noteOpinionCustomer{
  /*debut row / debut col / fin row / fin col */
    grid-area: 1 / 1 / 1 / 3;
    font-size: 18px;
    list-style-type: none;
    color: darken($color: $color-instagram, $amount: 20);
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #numberOpinionCustomer{
    grid-area: 1 / 3 / 1 / -1 ;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;  
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #descriptionNumberCardProduct{
    grid-area: 2 / 1 / 2 / -1;
    font-size: 20px;
  }
  #descriptionPriceCardProduct{
    grid-area: 3 / 1 / 3 / 3;
    font-size: 20px;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #priceCardProduct{
    grid-area: 3 / 2 / 3 / -1;
    font-size: 20px;
    font-weight: bold;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #descriptionProductColorsOption{
    grid-area: 4 / 1 / 4 / 3;
    font-size: 20px;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  
  #blocProductColorsOption{
    grid-area: 4 / 3 / 4 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }

  #productColorsOption{
  grid-area: 4 / 2 / 4 / -1;
  font-size: 18px;
  height: 30px;
  width: 140px;
  }

  #amountOrderProduct{
    grid-area: 5 / 1 / 5 / 3;
    font-size: 20px;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
  #numberOrderProduct{
    grid-area: 5 / 3 / 5 / -1;
    font-size: 18px;
    width: 60px;
    margin: 24px;
    padding: 3px;
  }
  #blocButtonAddBasket{
    grid-area: 6 / 1 / 6 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    #buttonAddBasket{
      text-decoration: none;
      font-size: 20px;
      color:darken($color: $color-secondary, $amount: 100);
      background-color: $color-buttonOne;
      width: 210px;
      height: 40px;
      border: 3px solid darken($color: $color-buttonOne, $amount: 30);
      border-radius: 50px;
      @include Flex-JustifyContentCenter-AlignItemsCenter;
    }
  }

  #blocButtonSeeBasket{
    grid-area: 7 / 1 / 7 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    #buttonSeeBasket{
      text-decoration: none;
      font-size: 20px;
      color:darken($color: $color-secondary, $amount: 100);
      background-color: $color-buttonTwo;
      width: 210px;
      height: 40px;
      border: 3px solid darken($color: $color-buttonTwo, $amount: 30);
      border-radius: 50px;
      @include Flex-JustifyContentCenter-AlignItemsCenter;
    }
  }
  #blocButtonContinuedBuy{
    grid-area: 8 / 1 / 8 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
    #buttonContinuedBuy{
      text-decoration: none;
      font-size: 20px;
      color:darken($color: $color-secondary, $amount: 100);
      background-color: $color-buttonThree;
      width: 210px;
      height: 40px;
      border: 3px solid darken($color: $color-buttonThree, $amount: 30);
      border-radius: 50px;
      @include Flex-JustifyContentCenter-AlignItemsCenter;
    }
  }

  #informationPriceCardProduct{
    grid-area: 9 / 1 / 9 / -1;
    @include Flex-JustifyContentCenter-AlignItemsCenter;
  }
}

/****************************
Fin _oriteddyproduct.html
*****************************/