.blocHeaderLogoUserBasket{
    display: flex;
    justify-content: space-between;
    .blocLinkHeaderLogo{
        justify-content: center;
        align-content: center;
    }
    .blocHeaderUserBasket{
    display: flex;
    }
}

.blocWrapOriItems{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.linksSupportFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reseauxSociauxFooter ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}