.blocHeaderLogoUserBasket{
    display: flex;
    justify-content: space-between;
    .blocLinkHeaderLogo{
        justify-content: center;
        align-content: center;
    }
    .blocHeaderUserBasket{
    display: flex;
    }
}