@media #{$tablet} {

    #mainPage {
        background-image: url("/front-end/image/backgroundTabletAndMore.jpg");
        background-attachment: fixed;
        height: 135rem;
    }

    .welcomeSection, .bioSection {
            margin-top: 0px;
            width: 600px;
            background-color: azure;
            border-radius: 15px;
            h2{
              background-image: url("/front-end/image/texture-paper.png");
              text-shadow: whitesmoke 1px 0 10px;
            }
            p{
              background-image: url("/front-end/image/texture-paper.png");
              text-shadow: whitesmoke 1px 0 10px;
              font-size: 20px;
            }
    }
    
    footer div.blocFooterAll{
        max-width: initial;
    }
    
    footer div.linksSupportFooter{
        justify-content: space-evenly;
    }
    
    footer div.linksSupportFooter ul{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    footer div.reseauxSociauxFooter ul{
        padding-top: 30px;
    }
}

@media #{$tablet-up} {

    header#header {
        height: 65px;
    }

    #wrapHeaderMenu div.blocHeaderMenu .fa-bars{
        top: 17px;
        left: 10px;
    }

    #header div.blocHeaderLogoUserBasket .blocHeaderLogo{
        margin-left: 50px;
    }

    #header div.blocHeaderSearch input{
        height: 40px;
        width: 50%;
        margin-top: -53px;
        margin-left: -32px;
    }

    #header div.blocHeaderSearch .iconeHeaderSearch{
        height: 40px;
        margin-top: -53px;
    }


    #mainPage {
        height: 200rem;
    }


    div.welcomeSection{
        margin-top: 12rem;
        height: 181px;
        width: 800px;
        h2{
            font-size: 36px;
        }
        p{
            font-size: 24px;
        }
    }

    .blocOriBookTextil{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 105px;
    }

    .blocOriTextil {
        margin-top: 22rem;
    }

    .blocOriBook img {
        height: 18rem;
        width: 415px;
    }
    
    .blocOriTextil img {
        height: 18rem;
        width: 415px;
    }

    .blocOriTeddiesCamerasFurnitures{
        justify-content: center;
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(2, 250px) / 400px 100px 400px;
        margin-top: 24rem;
    }

    .oriTeddiesCards{
        /*debut row / debut col / fin row / fin col */
        grid-area: 1 / 1 / 2 / 2;
        a h2.titleOriTeddies{
            margin-right: 15px;
         }
         img{
             margin-right: 15px;
         }  
    }

    .oriCamerasCards{
        /*debut row / debut col / fin row / fin col */
        grid-area: 1 / 2 / 3 / -1;
        a h2.titleOriCameras{
           margin-left: 115px;
        }
        img{
            margin-left: 115px;
        }    
    }

    .oriFurnituresCards{
        /*debut row / debut col / fin row / fin col */
        grid-area: 2 / 1 / 3 / -1;
        margin-top: 100px;
        .oriFurnituresSection .titleOriFurnitures{
            width: 900px;
        }
        img{
            width: 900px;
            height: 30rem;
        }
    }

    div.bioSection{
        margin-top: 45rem;
        height: 181px;
        width: 800px;
        h2{
            font-size: 36px;
        }
        p{
            font-size: 24px;
        }
    }

}

@media #{$laptop} {

    .blocOriBook img {
        height: 20rem;
        width: 465px;
    }

    .blocOriTextil img {
        height: 20rem;
        width: 465px;
    }

}

@media #{$pc} {

    .blocOriBook img {
        height: 23rem;
        width: 515px;
    }

    .blocOriTextil img {
        height: 23rem;
        width: 515px;
    }

}