@media #{$tablet} {

    /*-------Debut index.html-------*/
    main#mainPage {
        background-image: url("/front-end/image/backgroundTabletAndMore.jpg");
        background-attachment: fixed;
        height: 172rem;
    }

    h2.titleSectionOriNews{
        margin-top: 160px;
    }

    h2#titleSectionOriArticles{
        margin-top: 6rem;
    }

    .welcomeSection, .bioSection {
            margin-top: 0px;
            width: 600px;
            background-color: lighten($color: $color-buttonTwo, $amount: 30);
            border-radius: 15px;
            h2{
              background-image: url("/front-end/image/parchmentBackground.jpg");
              text-shadow: $color-quatenary 1px 0 10px;
              font-style: italic;
            }
            p{
              background-image: url("/front-end/image/parchmentBackground.jpg");
              text-shadow: $color-quatenary 1px 0 10px;
              font-size: 20px;
              font-style: italic;
            }
    }

    footer{
        margin-top: 0rem;
    }
    
    footer div.blocFooterAll{
        max-width: initial;
    }
    
    footer div.linksSupportFooter{
        justify-content: space-evenly;
    }
    
    footer div.linksSupportFooter ul{
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    footer div.reseauxSociauxFooter ul{
        padding-top: 30px;
    }
    /*-------Fin index.html-------*/

    /*-------Debut _oriteddiesarticles.html-------*/
    main#mainArticlesTeddies {
        background-image: url("/front-end/image/backgroundTeddies.jpg");
        background-attachment: fixed;
        height: 110rem;
    }

    #blocAllArticlesTeddies {
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(3, 500px) / 1fr 1fr;
    } 

    Section.blocSectionArticles {
        min-width: initial;
        max-width: initial;
    }

    div.detailsCardArticle {
        padding : 5px;
    }

    #footerArticlesTeddies {
        border-top: 3px solid $color-primary;
    }
    /*-------Fin _oriteddiesarticles.html-------*/

    /*-------Debut _oriteddyproduct.html-------*/
    main#mainProductTeddy {
        background-image: url("/front-end/image/backgroundTeddy.jpg");
        background-attachment: fixed;
    }

    /*-------Fin _oriteddyproduct.html-------*/

    /*-------Debut _oricamerasarticles.html-------*/
    main#mainArticlesCameras {
        background-image: url("/front-end/image/backgroundCameras.jpg");
        background-attachment: fixed;
        height: 115rem;
    }

    #blocAllArticlesCameras {
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(3, 500px) / 1fr 1fr;
    } 

    Section.blocSectionArticlesCameras {
        min-width: initial;
        max-width: initial;
    }

    div.detailsCardArticleCameras {
        padding : 5px;
    }

    #footerArticlesCameras {
        border-top: 1px solid $color-tertiary;
    }  
    /*-------Fin _oricamerasarticles.html-------*/

    /*-------Debut _oricamerasproduct.html-------*/
    main#mainProductCamera{
        background-image: url("/front-end/image/backgroundCameraProduct.jpg");
        background-attachment: fixed;
    }
    /*-------Fin _oricamerasproduct.html-------*/

     /*-------Debut _orifurnituresarticles.html-------*/
     main#mainArticlesFurnitures {
        background-image: url("/front-end/image/backgroundFurnitures.jpg");
        background-attachment: fixed;
        height: 115rem;
    }

    #blocAllArticlesFurnitures {
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(3, 500px) / 1fr 1fr;
    } 

    Section.blocSectionArticlesFurnitures {
        min-width: initial;
        max-width: initial;
    }

    div.detailsCardArticleFurnitures {
        padding : 5px;
    }

    #footerArticlesFurnitures {
        border-top: 1px solid lighten($color: $color-card, $amount: 30);
    }
    /*-------Fin _orifurnituresarticles.html-------*/

    /*-------Debut _orifurnitureproduct.html-------*/
    main#mainProductFurniture{
        background-image: url("/front-end/image/backgroundFurnitureProduct.webp");
        background-attachment: fixed;
    }
    /*-------Fin _orifurnitureproduct.html-------*/
}

@media #{$tablet-up} {

    /*-------Debut index.html-------*/
    header#header {
        height: 65px;
    }

    #wrapHeaderMenu div.blocHeaderMenu .fa-bars{
        top: 17px;
        left: 10px;
    }

    #header div.blocHeaderLogoUserBasket .blocHeaderLogo{
        margin-left: 50px;
    }

    #header div.blocHeaderSearch input{
        height: 40px;
        width: 50%;
        margin-top: -53px;
        margin-left: -32px;
    }

    #header div.blocHeaderSearch .iconeHeaderSearch{
        height: 40px;
        margin-top: -53px;
    }


    main#mainPage {
        height: 183rem;
    }

    h2.titleSectionOriNews{
        margin-top: 108px;
    }

    .blocOriBookTextil{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 105px;
    }

    .blocOriTextil {
        margin-top: 14rem;
    }

    .blocOriBook img {
        height: 20rem;
        width: 450px;
    }
    
    .blocOriTextil img {
        height: 20rem;
        width: 450px;
    }

    div.welcomeSection{
        margin-top: 12rem;
        height: 181px;
        width: 800px;
        h2{
            font-size: 36px;
        }
        p{
            font-size: 24px;
        }
    }

    h2#titleSectionOriArticles{
        margin-top: 15rem;
    }

    .blocOriTeddiesCamerasFurnitures{
        justify-content: center;
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(2, 17rem) / 4fr 50px 4fr;
        margin-top: 7rem;
    }

    div.oriTeddiesCards{
        /*debut row / debut col / fin row / fin col */
        grid-area: 1 / 1 / 2 / 2;
        margin-top: 0px;
        a h2.titleOriTeddies{
            width: 400px;
         }
         img{
            width: 400px;
            height: 16rem;
         }  
    }

    .oriCamerasCards{
        /*debut row / debut col / fin row / fin col */
        grid-area: 1 / 3 / 1 / 3;
        a h2.titleOriCameras{
            width: 400px;
        }
        img{
            width: 400px;
            height: 16rem;
        }    
    }

    .oriFurnituresCards{
        /*debut row / debut col / fin row / fin col */
        grid-area: 2 / 1 / 2 / 2;
        margin-top: 100px;
        .oriFurnituresSection .titleOriFurnitures{
            width: 400px;
        }
        img{
            width: 400px;
            height: 16rem;
        }
    }

    div.bioSection{
        margin-top: 23rem;
        height: 181px;
        width: 800px;
        h2{
            font-size: 36px;
        }
        p{
            font-size: 24px;
        }
    }
    /*-------Fin index.html-------*/

}

@media #{$pc} {

    /*-------Debut index.html-------*/
    main#mainPage {
        height: 166rem;
    }

    div.blocOriBookTextil{
        margin-top: 130px;
    }

    div.welcomeSection{
        margin-top: 10rem;

    }

    h2#titleSectionOriArticles{
        margin-top: 15rem;
    }

    .blocOriTeddiesCamerasFurnitures{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5rem;
    }

    .oriCamerasCards{
        a h2.titleOriCameras{
           margin-left: 0px;
        }
        img{
            margin-left: 0px;
        }    
    }

    .oriFurnituresCards{
        margin-top: 0px;
    }

    div.bioSection{
        margin-top: 17rem;
    }
    /*-------Fin index.html-------*/

    /*-------Debut _oriteddiesarticles.html-------*/
    main#mainArticlesTeddies {
        height: 92rem;
    }

    #blocAllArticlesTeddies {
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(2, 500px) / 1fr 1fr 1fr;
    } 
    /*-------Fin _oriteddiesarticles.html-------*/

    /*-------Debut _oriteddyproduct.html-------*/

    main#mainProductTeddy {
        height: 72rem;
    }

    Section#blocSectionProduct {
        @include Flex-JustifyContentCenter-AlignItemsCenter;
    }

    article#blocCardProduct{
        display: grid;
        padding: 16px;
    }

    div#blocHeaderCardProduct {
        grid-area: 1 / 1 / 1 / 3;
        width: 100%;
        height: 440px;
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
        border: 2px solid;
        img#imageCardProduct {
            border-top-right-radius: initial ;
        }
    }

    #blocDetailedProduct {
        grid-area: 1 / 3 / 1 / 7;
    }

    div#blocDetailedProduct{
        /*row(rang) / column (col) */
        width: 100%;
        height: 440px;
        margin-top: 160px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(5, 1fr);
        #noteOpinionCustomer{
       /*debut row / debut col / fin row / fin col */
         grid-area: 1 / 1 / 1 / 2;
         border-top: 2px solid black;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #numberOpinionCustomer{
         grid-area: 1 / 2 / 1 / 3 ;
         border-right: 2px solid;
         border-top: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #descriptionNumberCardProduct{
         grid-area: 2 / 1 / 2 / 3;
         border-right: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #descriptionPriceCardProduct{
         grid-area: 3 / 1 / 3 / 2;
         border-bottom: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #priceCardProduct{
         grid-area: 3 / 2 / 3 / 3;
         border-bottom: 2px solid;
         border-right: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       label#descriptionProductColorsOption{
         grid-area: 1 / 3 / 1 / 4;
         border-top: 2px solid;
       }
       
       #blocProductColorsOption{
         grid-area: 1 / 4 / 1 / 5;
         border-top: 2px solid;
       }

       #amountOrderProduct{
         grid-area: 2 / 3 / 2 / 4;
       }

       #numberOrderProduct{
         grid-area: 2 / 4 / 2 / 5;
         height: 35px;
         margin-top: 53px;
       }

       #blocButtonAddBasket{
         grid-area: 1 / 5 / 1 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         border-top: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonAddBasket{
            width: 90%;
            font-size: 16px;
         }
       }
     
       #blocButtonSeeBasket{
         grid-area: 2 / 5 / 2 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonSeeBasket{
            width: 90%;
            font-size: 16px;
         }
       }

       #blocButtonContinuedBuy{
         grid-area: 3 / 5 / 3 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         border-bottom: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonContinuedBuy{
            width: 90%;
            font-size: 15px;
         }
       }
     
       #informationPriceCardProduct{
         grid-area: 3 / 3 / 3 / 5;
         border-bottom: 2px solid;
       }
     }
    /*-------Fin _oriteddyproduct.html-------*/

    /*-------Debut _oricamerasarticles.html-------*/
    main#mainArticlesCameras {
        height: 92rem;
    }

    #blocAllArticlesCameras {
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(2, 500px) / 1fr 1fr 1fr;
    } 
    /*-------Fin _oricamerasarticles.html-------*/

    /*-------Debut _oricameraproduct.html-------*/

    main#mainProductCamera {
        height: 72rem;
    }

    Section#blocSectionProductCamera {
        @include Flex-JustifyContentCenter-AlignItemsCenter;
    }

    article#blocCardProductCamera {
        display: grid;
        padding: 16px;
    }

    div#blocHeaderCardProductCamera {
        grid-area: 1 / 1 / 1 / 3;
        width: 100%;
        height: 440px;
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
        border: 2px solid;
        img#imageCardProductCamera {
            border-top-right-radius: initial ;
        }
    }

    #blocDetailedProductCamera {
        grid-area: 1 / 3 / 1 / 7;
    }

    div#blocDetailedProductCamera{
        /*row(rang) / column (col) */
        width: 100%;
        height: 440px;
        margin-top: 160px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(5, 1fr);
        #noteOpinionCustomerCamera{
       /*debut row / debut col / fin row / fin col */
         grid-area: 1 / 1 / 1 / 2;
         border-top: 2px solid black;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #numberOpinionCustomerCamera{
         grid-area: 1 / 2 / 1 / 3 ;
         border-right: 2px solid;
         border-top: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #descriptionNumberCardProductCamera{
         grid-area: 2 / 1 / 2 / 3;
         border-right: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #descriptionPriceCardProductCamera{
         grid-area: 3 / 1 / 3 / 2;
         border-bottom: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #priceCardProductCamera{
         grid-area: 3 / 2 / 3 / 3;
         border-bottom: 2px solid;
         border-right: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       label#descriptionProductLensesOptionCamera{
         grid-area: 1 / 3 / 1 / 4;
         border-top: 2px solid;
       }
       
       #blocProductLensesOptionCamera {
         grid-area: 1 / 4 / 1 / 5;
         border-top: 2px solid;
       }

       #amountOrderProductCamera {
         grid-area: 2 / 3 / 2 / 4;
       }

       #numberOrderProductCamera {
         grid-area: 2 / 4 / 2 / 5;
         height: 35px;
         margin-top: 53px;
       }

       #blocButtonAddBasketCamera {
         grid-area: 1 / 5 / 1 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         border-top: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonAddBasketCamera {
            width: 90%;
            font-size: 16px;
         }
       }
     
       #blocButtonSeeBasketCamera {
         grid-area: 2 / 5 / 2 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonSeeBasketCamera{
            width: 90%;
            font-size: 16px;
         }
       }

       #blocButtonContinuedBuyCamera {
         grid-area: 3 / 5 / 3 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         border-bottom: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonContinuedBuyCamera{
            width: 90%;
            font-size: 15px;
         }
       }
     
       #informationPriceCardProductCamera {
         grid-area: 3 / 3 / 3 / 5;
         border-bottom: 2px solid;
       }
     }
    /*-------Fin _oritcameraroduct.html-------*/

    /*-------Debut _orifurnituresarticles.html-------*/
    main#mainArticlesFurnitures {
        height: 92rem;
    }

    #blocAllArticlesFurnitures {
        display: grid;
        /*row(rang) / column (col) */
        grid-template: repeat(2, 500px) / 1fr 1fr 1fr;
    } 
    /*-------Fin _orifurnituresarticles.html-------*/

    /*-------Debut _orifurnitureproduct.html-------*/

    main#mainProductFurniture {
        height: 72rem;
    }

    Section#blocSectionProductCamera {
        @include Flex-JustifyContentCenter-AlignItemsCenter;
    }

    article#blocCardProductFurniture {
        display: grid;
        padding: 16px;
    }

    div#blocHeaderCardProductFurniture {
        grid-area: 1 / 1 / 1 / 3;
        width: 100%;
        height: 440px;
        border-top-right-radius: initial;
        border-bottom-right-radius: initial;
        border: 2px solid;
        img#imageCardProductCamera {
            border-top-right-radius: initial ;
        }
    }

    #blocDetailedProductFurniture {
        grid-area: 1 / 3 / 1 / 7;
    }

    div#blocDetailedProductFurniture {
        /*row(rang) / column (col) */
        width: 100%;
        height: 440px;
        margin-top: 160px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(5, 1fr);
        #noteOpinionCustomerFurniture {
       /*debut row / debut col / fin row / fin col */
         grid-area: 1 / 1 / 1 / 2;
         border-top: 2px solid black;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #numberOpinionCustomerFurniture {
         grid-area: 1 / 2 / 1 / 3 ;
         border-right: 2px solid;
         border-top: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #descriptionNumberCardProductFurniture {
         grid-area: 2 / 1 / 2 / 3;
         border-right: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #descriptionPriceCardProductFurniture {
         grid-area: 3 / 1 / 3 / 2;
         border-bottom: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       #priceCardProductFurniture {
         grid-area: 3 / 2 / 3 / 3;
         border-bottom: 2px solid;
         border-right: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
       }
       label#descriptionProductVarnishOptionFurniture {
         grid-area: 1 / 3 / 1 / 4;
         border-top: 2px solid;
       }
       
       #blocProductVarnishOptionFurniture {
         grid-area: 1 / 4 / 1 / 5;
         border-top: 2px solid;
       }

       #amountOrderProductFurniture {
         grid-area: 2 / 3 / 2 / 4;
       }

       #numberOrderProductFurniture {
         grid-area: 2 / 4 / 2 / 5;
         height: 35px;
         margin-top: 53px;
       }

       #blocButtonAddBasketFurniture {
         grid-area: 1 / 5 / 1 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         border-top: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonAddBasketFurniture {
            width: 90%;
            font-size: 16px;
         }
       }
     
       #blocButtonSeeBasketFurniture {
         grid-area: 2 / 5 / 2 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonSeeBasketFurniture {
            width: 90%;
            font-size: 16px;
         }
       }

       #blocButtonContinuedBuyFurniture {
         grid-area: 3 / 5 / 3 / 6;
         border-right: 2px solid;
         border-left: 2px solid;
         border-bottom: 2px solid;
         background-color: lighten($color: $color-card, $amount: 40);
         #buttonContinuedBuyFurniture {
            width: 90%;
            font-size: 15px;
         }
       }
     
       #informationPriceCardProductFurniture {
         grid-area: 3 / 3 / 3 / 5;
         border-bottom: 2px solid;
       }
     }
    /*-------Fin _oritfurnitureroduct.html-------*/




    /*-------Debut _oribasket.html-------*/
    #mainOriBasket{
        padding-top: 20rem;
    }

    .blocMainOriBasket{
        display: flex;
        margin-top: 7rem;
    }

    div.blocRecapOrder{/*depuis le _oribasket.js*/
        padding : 10px;
    
    }

    div.nameBlocRecapOrder{/*depuis le _oribasket.js*/
        font-size: 20px;
    }
    
    div.priceBlocRecapOrder{/*depuis le _oribasket.js*/
        font-size: 20px;
    }
    
    div.buttonDelete{/*depuis le _oribasket.js*/
        font-size: 20px;
    }

    div.blocRecapOrder img{/*depuis le _oribasket.js*/
        height: 75px; 
        width: 75px;
    }

    div#blocFormOrder{
        margin-top: 0px;
    }

    div#emptyBasket{
        margin-top: 5rem;
    }
    /*-------Fin _oribasket.html-------*/

}