.textOrinoco{
    font-family: 'Finger Paint',cursive, sans-serif;
}

.wrapOriTeddies, .wrapOriCameras, .wrapOriFurnitures{
    font-family: 'Finger Paint',cursive, sans-serif; 
}

.logoHeaderOrinoco{
    font-family: 'Finger Paint',cursive, sans-serif;
}

.titleOriTeddies, .titleOriCameras, .titleOriFurnitures{
    font-family: 'Finger Paint',cursive, sans-serif; 
}

