.textOrinoco{
    font-family: 'Finger Paint',cursive, sans-serif;
}

.wrapOriTeddyBear{
    font-family: 'Finger Paint',cursive, sans-serif;
    @extend .containerWrapTheme;
}

.wrapOriCamara{
    font-family: 'Finger Paint',cursive, sans-serif;
    @extend .containerWrapTheme;
}

.wrapOriFurniture{
    font-family: 'Finger Paint',cursive, sans-serif;
    @extend .containerWrapTheme;
}

.logoHeaderOrinoco{
    font-family: 'Finger Paint',cursive, sans-serif;
}