$color-primary: #e68a09;
$color-secondary: #8f5bfe;
$color-facebook: #0065fc;
$color-twitter: #77b5fe;
$color-instagram: #ffe436;
$color-card: #f1f1f1;
$color-buttonOne: #87cefa;
$color-buttonTwo: #ffb6c1;
$color-buttonThree:#90ee90;
$color-iconeLogo: linear-gradient($color-primary, $color-secondary);
$color-iconeFacebook: linear-gradient($color-facebook, #5dade2);
$color-iconeInstagram: linear-gradient($color-instagram, $color-secondary);
$color-iconeTwitter: linear-gradient($color-twitter, #00ffff);
