$color-primary: #E68A09;
$color-secondary: #8F5BFE;
$color-facebook: #0065FC;
$color-twitter: #77B5FE;
$color-instagram: #FFE436;
$color-iconeLogo: linear-gradient($color-primary, $color-secondary);
$color-iconeFacebook: linear-gradient($color-facebook, #5DADE2);
$color-iconeInstagram: linear-gradient($color-instagram, $color-secondary);
$color-iconeTwitter: linear-gradient($color-twitter, #00FFFF);
