@charset "UTF-8";
@keyframes icone-full {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  /*-------Debut index.html-------*/
  main#mainPage {
    background-image: url("/front-end/image/backgroundTabletAndMore.jpg");
    background-attachment: fixed;
    height: 172rem;
  }

  h2.titleSectionOriNews {
    margin-top: 160px;
    padding-top: 6rem;
    color: #f1f1f1;
    text-shadow: black 1px 0px 10px;
    font-size: 40px;
  }

  h2#titleSectionOriArticles {
    color: #f1f1f1;
    margin-top: 6rem;
    text-shadow: black 1px 0px 10px;
    font-size: 40px;
  }

  .welcomeSection, .bioSection {
    margin-top: 0px;
    width: 600px;
    background-color: white;
    border-radius: 15px;
  }
  .welcomeSection h2, .bioSection h2 {
    background-image: url("/front-end/image/parchmentBackground.jpg");
    text-shadow: #f5f5f5 1px 0 10px;
    font-style: italic;
  }
  .welcomeSection p, .bioSection p {
    background-image: url("/front-end/image/parchmentBackground.jpg");
    text-shadow: #f5f5f5 1px 0 10px;
    font-size: 20px;
    font-style: italic;
  }

  footer {
    margin-top: 0rem;
  }

  footer div.blocFooterAll {
    max-width: initial;
  }

  footer div.linksSupportFooter {
    justify-content: space-evenly;
  }

  footer div.linksSupportFooter ul {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  footer div.reseauxSociauxFooter ul {
    padding-top: 30px;
  }

  /*-------Fin index.html-------*/
  /*-------Debut _oriteddiesarticles.html-------*/
  main#mainArticlesTeddies {
    background-image: url("/front-end/image/backgroundTeddies.jpg");
    background-attachment: fixed;
  }

  /*-------Fin _oriteddiesarticles.html-------*/
  /*-------Debut _oriteddyproduct.html-------*/
  main#mainProductTeddy {
    background-image: url("/front-end/image/backgroundTeddy.jpg");
    background-attachment: fixed;
  }

  /*-------Fin _oriteddyproduct.html-------*/
  /*-------Debut _oricamerasarticles.html-------*/
  main#mainArticlesCameras {
    background-image: url("/front-end/image/backgroundCameras.jpg");
    background-attachment: fixed;
  }

  /*-------Fin _oricamerasarticles.html-------*/
  /*-------Debut _oricamerasproduct.html-------*/
  main#mainProductCamera {
    background-image: url("/front-end/image/backgroundCameraProduct.jpg");
    background-attachment: fixed;
  }

  /*-------Fin _oricamerasproduct.html-------*/
  /*-------Debut _oricamerasarticles.html-------*/
  main#mainArticlesFurnitures {
    background-image: url("/front-end/image/backgroundFurnitures.jpg");
    background-attachment: fixed;
  }

  /*-------Fin _oricamerasarticles.html-------*/
  /*-------Debut _oricamerasproduct.html-------*/
  main#mainProductFurniture {
    background-image: url("/front-end/image/backgroundFurnitureProduct.webp");
    background-attachment: fixed;
  }

  /*-------Fin _oricamerasproduct.html-------*/
}
@media only screen and (min-width: 980px) {
  /*-------Debut index.html-------*/
  header#header {
    height: 65px;
  }

  #wrapHeaderMenu div.blocHeaderMenu .fa-bars {
    top: 17px;
    left: 10px;
  }

  #header div.blocHeaderLogoUserBasket .blocHeaderLogo {
    margin-left: 50px;
  }

  #header div.blocHeaderSearch input {
    height: 40px;
    width: 50%;
    margin-top: -53px;
    margin-left: -32px;
  }

  #header div.blocHeaderSearch .iconeHeaderSearch {
    height: 40px;
    margin-top: -53px;
  }

  main#mainPage {
    height: 210rem;
  }

  h2.titleSectionOriNews {
    margin-top: 108px;
    font-size: 50px;
  }

  .blocOriBookTextil {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 105px;
  }

  .blocOriTextil {
    margin-top: 14rem;
  }

  .blocOriBook img {
    height: 20rem;
    width: 450px;
  }

  .blocOriTextil img {
    height: 20rem;
    width: 450px;
  }

  div.welcomeSection {
    margin-top: 12rem;
    height: 181px;
    width: 800px;
  }
  div.welcomeSection h2 {
    font-size: 36px;
  }
  div.welcomeSection p {
    font-size: 24px;
  }

  h2#titleSectionOriArticles {
    font-size: 50px;
    margin-top: 15rem;
  }

  .blocOriTeddiesCamerasFurnitures {
    justify-content: center;
    display: grid;
    /*row(rang) / column (col) */
    grid-template: repeat(2, 250px)/400px 100px 400px;
    margin-top: 12rem;
  }

  div.oriTeddiesCards {
    /*debut row / debut col / fin row / fin col */
    grid-area: 1/1/2/2;
    margin-top: 0px;
  }
  div.oriTeddiesCards a h2.titleOriTeddies {
    margin-right: 15px;
  }
  div.oriTeddiesCards img {
    margin-right: 15px;
  }

  .oriCamerasCards {
    /*debut row / debut col / fin row / fin col */
    grid-area: 1/2/3/-1;
  }
  .oriCamerasCards a h2.titleOriCameras {
    margin-left: 115px;
  }
  .oriCamerasCards img {
    margin-left: 115px;
  }

  .oriFurnituresCards {
    /*debut row / debut col / fin row / fin col */
    grid-area: 2/1/3/-1;
    margin-top: 100px;
  }
  .oriFurnituresCards .oriFurnituresSection .titleOriFurnitures {
    width: 900px;
  }
  .oriFurnituresCards img {
    width: 900px;
    height: 30rem;
  }

  div.bioSection {
    margin-top: 45rem;
    height: 181px;
    width: 800px;
  }
  div.bioSection h2 {
    font-size: 36px;
  }
  div.bioSection p {
    font-size: 24px;
  }

  /*-------Fin index.html-------*/
}
@media only screen and (min-width: 1345px) {
  /*-------Debut index.html-------*/
  main#mainPage {
    height: 166rem;
  }

  div.blocOriBookTextil {
    margin-top: 130px;
  }

  div.welcomeSection {
    margin-top: 10rem;
  }

  h2#titleSectionOriArticles {
    margin-top: 15rem;
  }

  .blocOriTeddiesCamerasFurnitures {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  .oriCamerasCards a h2.titleOriCameras {
    margin-left: 0px;
  }
  .oriCamerasCards img {
    margin-left: 0px;
  }

  .oriFurnituresCards {
    margin-top: 0px;
  }
  .oriFurnituresCards .oriFurnituresSection .titleOriFurnitures {
    width: 384px;
  }
  .oriFurnituresCards img {
    height: 15rem;
    width: 384px;
  }

  div.bioSection {
    margin-top: 17rem;
  }

  /*-------Fin index.html-------*/
  /*-------Debut _oribasket.html-------*/
  #mainOriBasket {
    padding-top: 20rem;
  }

  .blocMainOriBasket {
    display: flex;
    margin-top: 7rem;
  }

  div.blocRecapOrder {
    /*depuis le _oribasket.js*/
    padding: 10px;
  }

  div.nameBlocRecapOrder {
    /*depuis le _oribasket.js*/
    font-size: 20px;
  }

  div.priceBlocRecapOrder {
    /*depuis le _oribasket.js*/
    font-size: 20px;
  }

  div.buttonDelete {
    /*depuis le _oribasket.js*/
    font-size: 20px;
  }

  div.blocRecapOrder img {
    /*depuis le _oribasket.js*/
    height: 75px;
    width: 75px;
  }

  div#blocFormOrder {
    margin-top: 0px;
  }

  div#emptyBasket {
    margin-top: 5rem;
  }

  /*-------Fin _oribasket.html-------*/
}
body {
  margin: 0;
  padding: 0;
  min-width: 375px;
}

#header {
  min-width: 375px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 4px solid #878787;
  background-color: #d3d3d3;
}
#header a {
  text-decoration: none;
}
#header a:focus {
  color: black;
}
#header a:visited {
  color: black;
}
#header .blocHeaderLogoUserBasket {
  height: 4rem;
  align-items: center;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo {
  margin-left: 5px;
  display: flex;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .iconeHeaderBars {
  font-size: 25px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo {
  margin-left: 5px;
  justify-content: center;
  align-content: center;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo .logoHeaderOrinoco {
  font-family: "Finger Paint", cursive, sans-serif;
  font-size: 25px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo .iconeHeaderCart {
  font-size: 25px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo .iconeHeaderCart .fa-shopping-cart {
  background: -webkit-linear-gradient(left, #e68a09, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header .blocHeaderUserBasket {
  display: flex;
  padding-right: 1rem;
}
#header .blocHeaderUserBasket .textHeaderUser {
  font-size: 20px;
}
#header .blocHeaderUserBasket .iconeHeaderUser {
  font-size: 20px;
  color: #148414;
  border-radius: 10px;
  padding: 5px;
}
#header .blocHeaderUserBasket .textHeaderBasket {
  font-size: 20px;
}
#header .blocHeaderUserBasket .iconeHeaderBasket {
  font-size: 20px;
  color: #844f05;
}
#header .blocHeaderSearch {
  display: flex;
  justify-content: center;
}
#header .blocHeaderSearch input {
  height: 50px;
  width: 60%;
  font-size: 16px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px 0px 0px 10px;
  padding: 16px;
}
#header .blocHeaderSearch input:focus {
  outline: none;
}
#header .blocHeaderSearch .iconeHeaderSearch {
  border-radius: 0px 10px 10px 0px;
  height: 50px;
  width: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  background-color: #778899;
}
#header .blocHeaderSearch .iconeHeaderSearch:hover {
  cursor: pointer;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#mainPage {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -42px;
  height: 162rem;
  background-color: #e0e0e0;
}

.blocMainPage {
  min-width: 400px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.titleSectionOriNews {
  margin-top: 160px;
  font-size: 30px;
}
.titleSectionOriNews .titleOriNews {
  font-family: "Finger Paint", cursive, sans-serif;
}

.blocImgOriBook {
  height: 29rem;
  margin-top: 3rem;
}

.blocImgOriBook img {
  cursor: pointer;
  margin-top: 32px;
  border: 3px solid #778899;
  border-radius: 20px;
}

.blocImgOriTextil {
  height: 20rem;
  margin-top: -11rem;
}

.blocImgOriTextil img {
  cursor: pointer;
  margin-top: 30px;
  border: 3px solid #778899;
  border-radius: 20px;
}

img {
  height: 15rem;
  width: 384px;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 22px;
}

.welcomeSection {
  text-align: justify;
  margin-top: 32px;
  height: 10rem;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

#titleSectionOriArticles {
  margin-top: 7rem;
  font-size: 30px;
}
#titleSectionOriArticles .titleOriArticles {
  font-family: "Finger Paint", cursive, sans-serif;
}

.blocOriteddiesCamerasFurnitures {
  margin-top: -50px;
}

.oriTeddiesCards {
  font-family: "Finger Paint", cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-top: 6rem;
}
.oriTeddiesCards .oriTeddiesSection {
  margin-top: 32px;
}
.oriTeddiesCards .oriTeddiesSection a {
  text-decoration: none;
  color: black;
}

.oriCamerasCards {
  font-family: "Finger Paint", cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
}
.oriCamerasCards .oriCamerasSection {
  margin-top: 32px;
}
.oriCamerasCards .oriCamerasSection a {
  text-decoration: none;
  color: black;
}

.oriFurnituresCards {
  font-family: "Finger Paint", cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
}
.oriFurnituresCards .oriFurnituresSection {
  margin-top: 32px;
}
.oriFurnituresCards .oriFurnituresSection a {
  text-decoration: none;
  color: black;
}

.titleOriTeddies {
  background-color: #fff9cf;
  width: 385px;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #778899;
  border-top: 3px solid #778899;
  border-right: 3px solid #778899;
}

.titleOriCameras {
  background-color: #d3d3d3;
  width: 385px;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #778899;
  border-top: 3px solid #778899;
  border-right: 3px solid #778899;
}

.titleOriFurnitures {
  background-color: #f5f5f5;
  width: 385px;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #778899;
  border-top: 3px solid #778899;
  border-right: 3px solid #778899;
}

.oriTeddiesSection img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid #778899;
  border-bottom: 3px solid #778899;
  border-right: 3px solid #778899;
}

.oriCamerasSection img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid #778899;
  border-bottom: 3px solid #778899;
  border-right: 3px solid #778899;
}

.oriFurnituresSection img {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid #778899;
  border-bottom: 3px solid #778899;
  border-right: 3px solid #778899;
}

.bioSection {
  text-align: justify;
  margin-top: 32px;
  height: 213px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-size: 18px;
}

footer {
  background-color: black;
}
footer .blocFooterAll {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
footer ul {
  margin-top: 16px;
}
footer ul li {
  list-style-type: none;
}

.linksSupportFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linksSupportFooter a {
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  background: linear-gradient(to top, #8f5bfe 0%, #8f5bfe 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}

.linksSupportFooter a:hover {
  background-size: 100% 100%;
}

.reseauxSociauxFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reseauxSociauxFooter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.reseauxSociauxFooter ul li {
  border: 3px solid #f1f1f1;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.reseauxSociauxFooter ul a {
  text-decoration: none;
  font-size: 30px;
  color: #f1f1f1;
}

.blocSocialFacebook li:hover {
  cursor: pointer;
  border-color: #0065fc;
}

.iconeFacebook {
  position: absolute;
  box-sizing: border-box;
}
.iconeFacebook .fa {
  position: absolute;
  font-size: 30px;
  color: #f1f1f1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -3px;
  top: -3px;
}
.iconeFacebook .fa-facebook:hover {
  font-weight: bold;
  -moz-animation: icone-full 0.8s;
  -webkit-animation: icone-full 0.8s;
  animation: icone-full 0.8s;
  background: linear-gradient(#0065fc, #5dade2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blocSocialInstagram li:hover {
  cursor: pointer;
  border-color: #ffe436;
}

.iconeInstagram {
  position: absolute;
  box-sizing: border-box;
}
.iconeInstagram .fa {
  position: absolute;
  font-size: 30px;
  color: #f1f1f1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -3px;
  top: -3px;
}
.iconeInstagram .fa-instagram:hover {
  font-weight: bold;
  -moz-animation: icone-full 0.8s;
  -webkit-animation: icone-full 0.8s;
  animation: icone-full 0.8s;
  background: linear-gradient(#ffe436, #8f5bfe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blocSocialTwitter li:hover {
  cursor: pointer;
  border-color: #77b5fe;
}

.iconeTwitter {
  position: absolute;
  box-sizing: border-box;
}
.iconeTwitter .fa {
  position: absolute;
  font-size: 30px;
  color: #f1f1f1;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -3px;
  top: -3px;
}
.iconeTwitter .fa-twitter:hover {
  font-weight: bold;
  -moz-animation: icone-full 0.8s;
  -webkit-animation: icone-full 0.8s;
  animation: icone-full 0.8s;
  background: linear-gradient(#77b5fe, #00ffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mentionLegalFooter {
  margin-top: 3rem;
  text-align: center;
  color: #f1f1f1;
}

#wrapHeaderMenu {
  font-size: 16px;
  line-height: 1.6;
  margin: 3rem;
  display: flex;
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  position: absolute;
}
#wrapHeaderMenu .blocHeaderMenu {
  background-color: black;
  height: 509px;
  width: 213px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: -10rem;
  top: -43px;
  opacity: 90%;
}
#wrapHeaderMenu .blocHeaderMenu .fa-bars {
  position: absolute;
  right: -10rem;
  top: 71px;
  font-size: 25px;
}
#wrapHeaderMenu .blocHeaderMenu #close {
  display: flex;
  align-items: center;
}
#wrapHeaderMenu .blocHeaderMenu .xWrapCercle {
  border: 2px solid #ff0429;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 11rem;
  margin-top: -5px;
  margin-bottom: -2rem;
  background-color: #f1f1f1;
}
#wrapHeaderMenu .blocHeaderMenu .blocWrapTitle {
  border-bottom: 2px solid #f5f5f5;
  padding-top: 10px;
}
#wrapHeaderMenu .blocHeaderMenu .titleWrapLogo {
  margin-left: 16px;
  padding-bottom: 16px;
  font-size: 25px;
  color: #f5f5f5;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu {
  background-color: black;
  height: 100%;
  width: 100%;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a {
  display: block;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a .textOrinoco {
  font-family: "Finger Paint", cursive, sans-serif;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a .iconeHeaderCart {
  font-size: 25px;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a .iconeHeaderCart .fa-shopping-cart {
  background: -webkit-linear-gradient(left, #e68a09, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blocWrapOriItems {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.wrapOriTeddies, .wrapOriCameras, .wrapOriFurnitures {
  font-family: "Finger Paint", cursive, sans-serif;
  border: 3px solid #778899;
  border-radius: 25px;
  background-color: #d3d3d3;
  font-size: 20px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 16px;
}

#wrapHeaderMenu:not(:target) {
  transform: translate3d(-335px, 0, 0);
}

#wrapHeaderMenu:target {
  transform: translate3d(0, 0, 0);
}

#open, #close {
  text-align: right;
  display: block;
}

#wrapHeaderMenu:target #open, #wrapHeaderMenu:not(:target) #close {
  display: none;
}

#wrapHeaderMenu:target #open {
  display: none;
}

#mainConfirmation {
  height: 100rem;
  background-color: #e7e7e7;
  padding-top: 20rem;
}

#blocConfirmationOrder {
  border: 1px solid black;
  margin-top: 7px;
  height: 250px;
  width: 70%;
  background-color: #f1f1f1;
  min-width: 400px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
#blocConfirmationOrder h2 {
  font-size: 25px;
  text-align: center;
  background-color: #77b5fe;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocConfirmationOrder p.pValid {
  color: #148414;
  font-weight: 900;
  font-size: 20px;
}
#blocConfirmationOrder p {
  text-align: center;
  font-size: 20px;
}

#blocResumeOrder {
  margin-top: 10px;
}

#idCommand, #priceTotalCommand, #thanks {
  /*vient du JavaScript de façon dynamique*/
  font-weight: 900;
}

#footerConfirmation {
  margin-top: 0px;
}

/****************************
Debut _oriteddyarticles.html
*****************************/
#mainArticlesTeddies {
  text-align: center;
  margin-top: 90px;
  height: 200rem;
  margin-left: auto;
  margin-right: auto;
}
#mainArticlesTeddies .blocMainArticlesTeddies {
  padding-top: 9rem;
  min-width: 400px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
#mainArticlesTeddies #titlePageTeddies {
  font-family: "Finger Paint", cursive, sans-serif;
  padding-top: 7px;
  background-color: #deb887;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

#welcomeOriteddies {
  width: 400px;
  margin-top: 20px;
  text-align: justify;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

#pWelcomeOriteddies {
  width: 400px;
  text-align: justify;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.blocSectionArticles {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}

#blocCardArticle {
  width: 300px;
  margin-top: 9rem;
  margin-left: auto;
  margin-right: auto;
}

#linkCardArticle {
  text-decoration: none;
  color: black;
}

#imageCardArticle {
  width: 100%;
  height: 15rem;
  border: 3px solid #778899;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #778899;
  border-top: 3px solid #778899;
  border-right: 3px solid #778899;
}

.detailsCardArticle {
  display: grid;
  /*row(rang) / column (col) */
  grid-template: 1fr 1fr 1fr/repeat(2, 1fr);
  background-color: #fbcd8d;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 16px;
  margin-top: -8px;
  border: 3px solid #778899;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid #778899;
  border-bottom: 3px solid #778899;
  border-right: 3px solid #778899;
}

#titleCardArticle {
  grid-area: 1/1/1/-1;
  font-size: 25px;
  background-color: #f1f1f1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #778899;
}

#priceCardArticle {
  /*debut row / debut col / fin row / fin col */
  grid-area: 2/3/2/-1;
  font-size: 20px;
  margin-right: 4px;
  margin-top: -5px;
  padding-left: 3px;
  flex-direction: row-reverse;
  background-color: #f1f1f1;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border: 3px solid #778899;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyCardArticle {
  grid-area: 3/1/3/-1;
  font-size: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #778899;
}

/****************************
Fin _oriteddyarticles.html
*****************************/
/****************************
Debut _oriteddyproduct.html
*****************************/
#mainProductTeddy {
  text-align: center;
  margin-top: 66px;
  padding-top: 7rem;
  height: 130rem;
  background-color: #e8e8e8;
  margin-left: auto;
  margin-right: auto;
}
#mainProductTeddy .blocMainProductTeddy {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}
#mainProductTeddy #titlePageTeddy {
  font-family: "Finger Paint", cursive, sans-serif;
  padding-top: 7px;
  background-color: #deb887;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

#blocSectionProduct {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}

#blocCardProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#blocHeaderCardProduct {
  margin-top: 16rem;
  background-color: #fbcd8d;
  width: 384px;
}
#blocHeaderCardProduct img {
  width: 100%;
  height: 360px;
  cursor: zoom-in;
}
#blocHeaderCardProduct #titleCardProduct {
  font-size: 30px;
  padding: 5%;
}

#blocDetailedProduct {
  /*row(rang) / column (col) */
  display: grid;
  grid-template: repeat(9, 80px)/repeat(4, 100px);
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
  width: 400px;
  height: 720px;
  border: 1px solid;
  margin-top: 5rem;
}
#blocDetailedProduct #noteOpinionCustomer {
  /*debut row / debut col / fin row / fin col */
  grid-area: 1/1/1/3;
  font-size: 18px;
  list-style-type: none;
  color: #cfb300;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #numberOpinionCustomer {
  grid-area: 1/3/1/-1;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #descriptionNumberCardProduct {
  grid-area: 2/1/2/-1;
  font-size: 20px;
}
#blocDetailedProduct #descriptionPriceCardProduct {
  grid-area: 3/1/3/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #priceCardProduct {
  grid-area: 3/2/3/-1;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #descriptionProductColorsOption {
  grid-area: 4/1/4/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #blocProductColorsOption {
  grid-area: 4/3/4/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
}
#blocDetailedProduct #descriptionProductColorsOption {
  grid-area: 4/1/4/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #productColorsOption {
  grid-area: 4/2/4/-1;
  font-size: 18px;
  height: 30px;
  width: 140px;
}
#blocDetailedProduct #amountOrderProduct {
  grid-area: 5/1/5/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #numberOrderProduct {
  grid-area: 5/3/5/-1;
  font-size: 18px;
  width: 60px;
  margin: 24px;
  padding: 3px;
}
#blocDetailedProduct #blocButtonAddBasket {
  grid-area: 6/1/6/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #blocButtonAddBasket #buttonAddBasket {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #90ee90;
  width: 210px;
  height: 40px;
  border: 3px solid #1ec71e;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #blocButtonSeeBasket {
  grid-area: 7/1/7/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #blocButtonSeeBasket #buttonSeeBasket {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #87cefa;
  width: 210px;
  height: 40px;
  border: 3px solid #098ddf;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #blocButtonContinuedBuy {
  grid-area: 8/1/8/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #blocButtonContinuedBuy #buttonContinuedBuy {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #ffb6c1;
  width: 210px;
  height: 40px;
  border: 3px solid #ff1d3f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProduct #informationPriceCardProduct {
  grid-area: 9/1/9/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************
Fin _oriteddyproduct.html
*****************************/
/****************************
Debut _oricamerasarticles.html
*****************************/
#mainArticlesCameras {
  text-align: center;
  margin-top: 65px;
  height: 200rem;
  margin-left: auto;
  margin-right: auto;
}
#mainArticlesCameras .blocMainArticlesCameras {
  padding-top: 9rem;
  min-width: 400px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
#mainArticlesCameras #titlePageCameras {
  font-family: "Finger Paint", cursive, sans-serif;
  padding-top: 7px;
  background-color: #d3d3d3;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.blocSectionArticlesCameras {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}

#blocCardArticleCameras {
  width: 300px;
  margin-top: 9rem;
  margin-left: auto;
  margin-right: auto;
}

#linkCardArticleCameras {
  text-decoration: none;
  color: black;
}

#imageCardArticleCameras {
  width: 100%;
  height: 15rem;
  border: 3px solid #778899;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #778899;
  border-top: 3px solid #778899;
  border-right: 3px solid #778899;
}

.detailsCardArticleCameras {
  display: grid;
  /*row(rang) / column (col) */
  grid-template: 1fr 1fr 1fr/repeat(2, 1fr);
  background-color: #d3d3d3;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 16px;
  margin-top: -8px;
  border: 3px solid #778899;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid #778899;
  border-bottom: 3px solid #778899;
  border-right: 3px solid #778899;
}

#titleCardArticleCameras {
  grid-area: 1/1/1/-1;
  font-size: 25px;
  background-color: #f1f1f1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #778899;
}

#priceCardArticleCameras {
  /*debut row / debut col / fin row / fin col */
  grid-area: 2/3/2/-1;
  font-size: 20px;
  margin-right: 4px;
  margin-top: -5px;
  padding-left: 3px;
  flex-direction: row-reverse;
  background-color: #f1f1f1;
  border-radius: 18px;
  height: 50px;
  width: 80px;
  border: 3px solid #778899;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyCardArticleCameras {
  grid-area: 3/1/3/-1;
  font-size: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #778899;
}

/****************************
Fin _oricamerasarticles.html
*****************************/
/****************************
Debut _oricamerasproduct.html
*****************************/
#mainProductCamera {
  text-align: center;
  margin-top: 66px;
  padding-top: 7rem;
  height: 130rem;
  background-color: #e8e8e8;
  margin-left: auto;
  margin-right: auto;
}
#mainProductCamera .blocMainProductCamera {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}
#mainProductCamera #titlePageCamera {
  font-family: "Finger Paint", cursive, sans-serif;
  padding-top: 7px;
  background-color: #d3d3d3;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

#blocSectionProductCamera {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}

#blocCardProductCamera {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#blocHeaderCardProductCamera {
  margin-top: 16rem;
  background-color: #d3d3d3;
  width: 384px;
}
#blocHeaderCardProductCamera img {
  width: 100%;
  height: 360px;
  cursor: zoom-in;
}
#blocHeaderCardProductCamera #titleCardProductCamera {
  font-size: 30px;
  padding: 5%;
}

#blocDetailedProductCamera {
  /*row(rang) / column (col) */
  display: grid;
  grid-template: repeat(9, 80px)/repeat(4, 100px);
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
  width: 400px;
  height: 720px;
  border: 1px solid;
  margin-top: 5rem;
}
#blocDetailedProductCamera #noteOpinionCustomerCamera {
  /*debut row / debut col / fin row / fin col */
  grid-area: 1/1/1/3;
  font-size: 18px;
  list-style-type: none;
  color: #cfb300;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #numberOpinionCustomerCamera {
  grid-area: 1/3/1/-1;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #descriptionNumberCardProductCamera {
  grid-area: 2/1/2/-1;
  font-size: 20px;
}
#blocDetailedProductCamera #descriptionPriceCardProductCamera {
  grid-area: 3/1/3/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #priceCardProductCamera {
  grid-area: 3/2/3/-1;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #descriptionProductLensesOptionCamera {
  grid-area: 4/1/4/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #blocProductLensesOptionCamera {
  grid-area: 4/3/4/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
}
#blocDetailedProductCamera #descriptionProductLensesOptionCamera {
  grid-area: 4/1/4/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #productLensesOptionCamera {
  grid-area: 4/2/4/-1;
  font-size: 18px;
  height: 30px;
  width: 140px;
}
#blocDetailedProductCamera #amountOrderProductCamera {
  grid-area: 5/1/5/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #numberOrderProductCamera {
  grid-area: 5/3/5/-1;
  font-size: 18px;
  width: 60px;
  margin: 24px;
  padding: 3px;
}
#blocDetailedProductCamera #blocButtonAddBasketCamera {
  grid-area: 6/1/6/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #blocButtonAddBasketCamera #buttonAddBasketCamera {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #90ee90;
  width: 210px;
  height: 40px;
  border: 3px solid #1ec71e;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #blocButtonSeeBasketCamera {
  grid-area: 7/1/7/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #blocButtonSeeBasketCamera #buttonSeeBasketCamera {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #87cefa;
  width: 210px;
  height: 40px;
  border: 3px solid #098ddf;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #blocButtonContinuedBuyCamera {
  grid-area: 8/1/8/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #blocButtonContinuedBuyCamera #buttonContinuedBuyCamera {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #ffb6c1;
  width: 210px;
  height: 40px;
  border: 3px solid #ff1d3f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductCamera #informationPriceCardProductCamera {
  grid-area: 9/1/9/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************
Fin _oricamerasproduct.html
*****************************/
/****************************
Debut _orifurnituresarticles.html
*****************************/
#mainArticlesFurnitures {
  text-align: center;
  margin-top: 65px;
  height: 200rem;
  margin-left: auto;
  margin-right: auto;
}
#mainArticlesFurnitures .blocMainArticlesFurnitures {
  padding-top: 9rem;
  min-width: 400px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
#mainArticlesFurnitures #titlePageFurnitures {
  font-family: "Finger Paint", cursive, sans-serif;
  padding-top: 7px;
  background-color: #f5f5f5;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

.blocSectionArticlesFurnitures {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}

#blocCardArticleFurnitures {
  width: 300px;
  margin-top: 9rem;
  margin-left: auto;
  margin-right: auto;
}

#linkCardArticleFurnitures {
  text-decoration: none;
  color: black;
}

#imageCardArticleFurnitures {
  width: 100%;
  height: 15rem;
  border: 3px solid #778899;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-left: 3px solid #778899;
  border-top: 3px solid #778899;
  border-right: 3px solid #778899;
}

.detailsCardArticleFurnitures {
  display: grid;
  /*row(rang) / column (col) */
  grid-template: 1fr 1fr 1fr/repeat(2, 1fr);
  background-color: #f5f5f5;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 16px;
  margin-top: -8px;
  border: 3px solid #778899;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: 3px solid #778899;
  border-bottom: 3px solid #778899;
  border-right: 3px solid #778899;
}

#titleCardArticleFurnitures {
  grid-area: 1/1/1/-1;
  font-size: 25px;
  background-color: #f1f1f1;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #778899;
}

#priceCardArticleFurnitures {
  /*debut row / debut col / fin row / fin col */
  grid-area: 2/3/2/-1;
  font-size: 20px;
  margin-right: 4px;
  margin-top: -5px;
  padding-left: 3px;
  flex-direction: row-reverse;
  background-color: #f1f1f1;
  border-radius: 18px;
  height: 50px;
  width: 80px;
  border: 3px solid #778899;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyCardArticleFurnitures {
  grid-area: 3/1/3/-1;
  font-size: 25px;
  border-radius: 25px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #778899;
}

/****************************
Fin _orifurnituresarticles.html
*****************************/
/****************************
Debut _orifurnitureproduct.html
*****************************/
#mainProductFurniture {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 66px;
  padding-top: 7rem;
  height: 130rem;
  background-color: #e8e8e8;
}
#mainProductFurniture .blocMainProductFurniture {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}
#mainProductFurniture #titlePageFurniture {
  font-family: "Finger Paint", cursive, sans-serif;
  padding-top: 7px;
  background-color: #f5f5f5;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

#blocSectionProductFurniture {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 1400px;
}

#blocCardProductFurniture {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#blocHeaderCardProductFurniture {
  margin-top: 16rem;
  background-color: #f5f5f5;
  width: 384px;
}
#blocHeaderCardProductFurniture img {
  width: 100%;
  height: 360px;
  cursor: zoom-in;
}
#blocHeaderCardProductFurniture #titleCardProductFurniture {
  font-size: 30px;
  padding: 5%;
}

#blocDetailedProductFurniture {
  /*row(rang) / column (col) */
  display: grid;
  grid-template: repeat(9, 80px)/repeat(4, 100px);
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
  width: 400px;
  height: 720px;
  border: 1px solid;
  margin-top: 5rem;
}
#blocDetailedProductFurniture #noteOpinionCustomerFurniture {
  /*debut row / debut col / fin row / fin col */
  grid-area: 1/1/1/3;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfb300;
}
#blocDetailedProductFurniture #numberOpinionCustomerFurniture {
  grid-area: 1/3/1/-1;
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #descriptionNumberCardProductFurniture {
  grid-area: 2/1/2/-1;
  font-size: 20px;
}
#blocDetailedProductFurniture #descriptionPriceCardProductFurniture {
  grid-area: 3/1/3/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #priceCardProductFurniture {
  grid-area: 3/2/3/-1;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #descriptionProductVarnishOptionFurniture {
  grid-area: 4/1/4/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #blocProductVarnishOptionFurniture {
  grid-area: 4/3/4/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 16px;
}
#blocDetailedProductFurniture #descriptionProductVarnishOptionFurniture {
  grid-area: 4/1/4/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #productVarnishOptionFurniture {
  grid-area: 4/2/4/-1;
  font-size: 18px;
  height: 30px;
  width: 140px;
}
#blocDetailedProductFurniture #amountOrderProductFurniture {
  grid-area: 5/1/5/3;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #numberOrderProductFurniture {
  grid-area: 5/3/5/-1;
  font-size: 18px;
  width: 60px;
  margin: 24px;
  padding: 3px;
}
#blocDetailedProductFurniture #blocButtonAddBasketFurniture {
  grid-area: 6/1/6/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #blocButtonAddBasketFurniture #buttonAddBasketFurniture {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #90ee90;
  width: 210px;
  height: 40px;
  border: 3px solid #1ec71e;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #blocButtonSeeBasketFurniture {
  grid-area: 7/1/7/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #blocButtonSeeBasketFurniture #buttonSeeBasketFurniture {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #87cefa;
  width: 210px;
  height: 40px;
  border: 3px solid #098ddf;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #blocButtonContinuedBuyFurniture {
  grid-area: 8/1/8/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #blocButtonContinuedBuyFurniture #buttonContinuedBuyFurniture {
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #ffb6c1;
  width: 210px;
  height: 40px;
  border: 3px solid #ff1d3f;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blocDetailedProductFurniture #informationPriceCardProductFurniture {
  grid-area: 9/1/9/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/****************************
Fin _orifurnitureproduct.html
*****************************/
#mainOriBasket {
  padding-top: 200px;
  height: 100rem;
  background-color: #e7e7e7;
}

.blocMainOriBasket {
  min-width: 400px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

#titlePageOribasket {
  text-align: center;
  font-family: "Finger Paint", cursive, sans-serif;
  background-color: #deb887;
  width: 400px;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

#blocProductBasket {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: auto;
  background-color: #f5f5f5;
  display: grid;
  text-align: center;
}

.blocRecapOrder {
  /*depuis le _oribasket.js*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  border: 1px solid black;
}

.blocRecapOrder img {
  /*depuis le _oribasket.js*/
  height: 50px;
  width: 50px;
  border: 2px solid #77b5fe;
  border-radius: 10px;
}

.nameBlocRecapOrder {
  /*depuis le _oribasket.js*/
  font-size: 18px;
}

.priceBlocRecapOrder {
  /*depuis le _oribasket.js*/
  font-size: 18px;
}

.buttonDelete {
  /*depuis le _oribasket.js*/
  font-size: 18px;
}

.buttonDelete:hover {
  cursor: pointer;
}

#displayPriceHtml {
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#totalDisplayPriceHtml {
  font-weight: bold;
  margin-left: 10px;
}

#emptyBasket {
  /*depuis le _oribasket.js*/
  font-size: 25px;
  font-weight: bold;
  margin-top: 12rem;
  margin-left: auto;
  margin-right: auto;
}

#alertColor {
  /*depuis le _oribasket.js*/
  color: #ff0429;
}

#thanksAdd a {
  color: #127efd;
}

/*******------- Debut formulaire -------*******/
#blocFormOrder {
  /*depuis le _oribasket.js*/
  width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
  border: 2px solid;
  display: grid;
  /*row(rang) / column (col) */
  grid-template: repeat(8, 70px)/repeat(4, 99px);
}

#titleBlocFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #77b5fe;
  /*debut row / debut col / fin row / fin col */
  grid-area: 1/1/2/-1;
  height: 70px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#firstNameBlocFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #d3d3d3;
  height: 80px;
  width: 396px;
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
}
#firstNameBlocFormOrder #firstName {
  font-size: 20px;
}
#firstNameBlocFormOrder #firstNameMissing {
  color: #ff0429;
  font-size: 16px;
}

#lastNameBlocFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #f5f5f5;
  height: 80px;
  width: 396px;
  text-align: center;
  padding-top: 25px;
}
#lastNameBlocFormOrder #labelLastName {
  font-size: 20px;
}
#lastNameBlocFormOrder #lastName {
  font-size: 20px;
}
#lastNameBlocFormOrder #lastNameMissing {
  color: #ff0429;
  font-size: 16px;
}

#addressBlocFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #d3d3d3;
  height: 80px;
  width: 396px;
  text-align: center;
  padding-top: 25px;
}
#addressBlocFormOrder #labelAddress {
  font-size: 20px;
}
#addressBlocFormOrder #address {
  font-size: 20px;
  height: 30px;
}
#addressBlocFormOrder #addressMissing {
  color: #ff0429;
  font-size: 16px;
}

#cityBlocFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #f5f5f5;
  height: 80px;
  width: 396px;
  text-align: center;
  padding-top: 25px;
}
#cityBlocFormOrder #labelCity {
  font-size: 20px;
}
#cityBlocFormOrder #city {
  font-size: 20px;
}
#cityBlocFormOrder #cityMissing {
  color: #ff0429;
  font-size: 16px;
}

#emailBlocFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #d3d3d3;
  height: 80px;
  width: 396px;
  text-align: center;
  padding-top: 25px;
}
#emailBlocFormOrder #labelEmail {
  font-size: 20px;
}
#emailBlocFormOrder #email {
  font-size: 20px;
}
#emailBlocFormOrder #emailMissing {
  color: #ff0429;
  font-size: 16px;
}

#btnSendFormBlocFormOrder {
  /*depuis le _oribasket.js*/
  padding-left: 50px;
  padding-top: 20px;
}

#btnSendFormOrder {
  /*depuis le _oribasket.js*/
  background-color: #d3d3d3;
  /*debut row / debut col / fin row / fin col */
  grid-area: 8/1/9/-1;
  font-size: 20px;
  border-radius: 25px;
  height: 40px;
  width: 300px;
}

/*# sourceMappingURL=style.css.map */
