.blocHeaderLogoUserBasket {
  display: flex;
  justify-content: space-between;
}
.blocHeaderLogoUserBasket .blocLinkHeaderLogo {
  justify-content: center;
  align-content: center;
}
.blocHeaderLogoUserBasket .blocHeaderUserBasket {
  display: flex;
}

.blocWrapOriItems {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.linkSupportFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.reseauxSociauxFooter ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@keyframes icone-full {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  min-width: 375px;
}

#header {
  min-width: 375px;
  height: 135px;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #8f5bfe;
  background-color: #f0e9ff;
}
#header a {
  text-decoration: none;
}
#header a:focus {
  color: black;
}
#header a:visited {
  color: black;
}
#header .blocHeaderLogoUserBasket {
  height: 4rem;
  align-items: center;
  padding-right: 5px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo {
  margin-left: 5px;
  display: flex;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .iconeHeaderBars {
  font-size: 25px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo {
  margin-left: 5px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo .logoHeaderOrinoco {
  font-family: "Finger Paint", cursive, sans-serif;
  font-size: 25px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo .iconeHeaderCart {
  font-size: 25px;
}
#header .blocHeaderLogoUserBasket .blocHeaderLogo .blocLinkHeaderLogo .iconeHeaderCart .fa-shopping-cart {
  background: -webkit-linear-gradient(left, #e68a09, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#header .blocLinkHeaderUser {
  padding-right: 1rem;
}
#header .blocLinkHeaderUser .textHeaderUser {
  font-size: 20px;
}
#header .blocLinkHeaderUser .iconeHeaderUser {
  font-size: 20px;
  color: #a074fe;
  border-radius: 10px;
  padding: 5px;
}
#header .textHeaderBasket {
  font-size: 20px;
}
#header .iconeHeaderBasket {
  font-size: 20px;
  color: #844f05;
}
#header .blocHeaderSearch {
  display: flex;
  justify-content: center;
}
#header .blocHeaderSearch input {
  height: 50px;
  width: 60%;
  font-size: 16px;
  border: none;
  background-color: #fbcd8d;
  border-radius: 10px 0px 0px 10px;
  padding: 16px;
}
#header .blocHeaderSearch input:focus {
  outline: none;
}
#header .blocHeaderSearch .iconeHeaderSearch {
  border-radius: 0px 10px 10px 0px;
  height: 50px;
  width: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  background-color: #b28efe;
}
#header .blocHeaderSearch .iconeHeaderSearch:hover {
  cursor: pointer;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  padding: 0;
}
main .blocMainAll {
  max-width: 1345px;
  margin-left: auto;
  margin-right: auto;
}

.blocImgOriBook {
  height: 29rem;
  width: 100%;
  margin-top: 11rem;
}

.blocImgOriTextil {
  height: 20rem;
  width: 100%;
  margin-top: -11rem;
}

img {
  height: 15rem;
  width: 100%;
  cursor: pointer;
}

.welcomeSection {
  border: 2px solid #e68a09;
  background-color: #fce3bf;
  text-align: center;
  margin-top: 32px;
}

.oriTeddiesCards {
  font-family: "Finger Paint", cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
}
.oriTeddiesCards .oriTeddiesSection {
  margin-top: 32px;
  border: 2px solid #8f5bfe;
  background-color: #e6daff;
}
.oriTeddiesCards .oriTeddiesSection a {
  text-decoration: none;
}

.oriCamerasCards {
  font-family: "Finger Paint", cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
}
.oriCamerasCards .oriCamerasSection {
  margin-top: 32px;
  border: 2px solid #8f5bfe;
  background-color: #e6daff;
}
.oriCamerasCards .oriCamerasSection a {
  text-decoration: none;
}

.oriFurnituresCards {
  font-family: "Finger Paint", cursive, sans-serif;
  text-align: center;
  text-decoration: none;
  color: black;
}
.oriFurnituresCards .oriFurnituresSection {
  margin-top: 32px;
  border: 2px solid #8f5bfe;
  background-color: #e6daff;
}
.oriFurnituresCards .oriFurnituresSection a {
  text-decoration: none;
}

footer {
  background-color: black;
  margin-top: 20rem;
  height: 16rem;
}
footer .blocFooterAll {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
footer ul {
  margin-top: 16px;
}
footer ul li {
  list-style-type: none;
}

.linkSupportFooter a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  background: linear-gradient(to top, #8f5bfe 0%, #8f5bfe 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}

.linkSupportFooter a:hover {
  background-size: 100% 100%;
}

.reseauxSociauxFooter ul li {
  border: 3px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.reseauxSociauxFooter ul a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

.blocSocialFacebook li:hover {
  cursor: pointer;
  border-color: #0065fc;
}

.iconeFacebook {
  position: absolute;
  box-sizing: border-box;
}
.iconeFacebook .fa {
  position: absolute;
  font-size: 30px;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -3px;
  top: -3px;
}
.iconeFacebook .fa-facebook:hover {
  font-weight: bold;
  -moz-animation: icone-full 0.8s;
  -webkit-animation: icone-full 0.8s;
  animation: icone-full 0.8s;
  background: linear-gradient(#0065fc, #5dade2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blocSocialInstagram li:hover {
  cursor: pointer;
  border-color: #ffe436;
}

.iconeInstagram {
  position: absolute;
  box-sizing: border-box;
}
.iconeInstagram .fa {
  position: absolute;
  font-size: 30px;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -2px;
  top: -3px;
}
.iconeInstagram .fa-instagram:hover {
  font-weight: bold;
  -moz-animation: icone-full 0.8s;
  -webkit-animation: icone-full 0.8s;
  animation: icone-full 0.8s;
  background: linear-gradient(#ffe436, #8f5bfe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blocSocialTwitter li:hover {
  cursor: pointer;
  border-color: #77b5fe;
}

.iconeTwitter {
  position: absolute;
  box-sizing: border-box;
}
.iconeTwitter .fa {
  position: absolute;
  font-size: 30px;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -3px;
  top: -3px;
}
.iconeTwitter .fa-twitter:hover {
  font-weight: bold;
  -moz-animation: icone-full 0.8s;
  -webkit-animation: icone-full 0.8s;
  animation: icone-full 0.8s;
  background: linear-gradient(#77b5fe, #00ffff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mentionLegalFooter {
  margin-top: 3rem;
  text-align: center;
  color: white;
}

#wrapHeaderMenu {
  font-size: 16px;
  line-height: 1.6;
  margin: 3rem;
  display: flex;
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  position: absolute;
}
#wrapHeaderMenu .blocHeaderMenu {
  background-color: #fef0dc;
  height: 509px;
  width: 213px;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: -10rem;
  top: -43px;
  opacity: 90%;
}
#wrapHeaderMenu .blocHeaderMenu .fa-bars {
  position: absolute;
  right: -10rem;
  top: 71px;
  font-size: 25px;
}
#wrapHeaderMenu .blocHeaderMenu .xWrapCercle {
  border: 2px solid #e68a09;
  border-radius: 25px;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 11rem;
  margin-top: -5px;
  margin-bottom: -2rem;
  background-color: #fbcd8d;
}
#wrapHeaderMenu .blocHeaderMenu .blocWrapTitle {
  border-bottom: 2px solid #e68a09;
}
#wrapHeaderMenu .blocHeaderMenu .titleWrapLogo {
  margin-left: 16px;
  padding-bottom: 16px;
  font-size: 25px;
  color: #fdedd7;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu {
  background-color: black;
  height: 100%;
  width: 100%;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a {
  display: block;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a .textOrinoco {
  font-family: "Finger Paint", cursive, sans-serif;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a .iconeHeaderCart {
  font-size: 25px;
}
#wrapHeaderMenu .blocHeaderMenu .navHeaderMenu a .iconeHeaderCart .fa-shopping-cart {
  background: -webkit-linear-gradient(left, #e68a09, #8f5bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapOriTeddies, .wrapOriCameras, .wrapOriFurnitures {
  font-family: "Finger Paint", cursive, sans-serif;
  border: 2px solid #e68a09;
  border-radius: 25px;
  background-color: #fbcd8d;
  font-size: 20px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 16px;
}

#wrapHeaderMenu:not(:target) {
  transform: translate3d(-335px, 0, 0);
}

#wrapHeaderMenu:target {
  transform: translate3d(0, 0, 0);
}

#open, #close {
  text-align: right;
  display: block;
}

#wrapHeaderMenu:target #open, #wrapHeaderMenu:not(:target) #close {
  display: none;
}

#wrapHeaderMenu:target #open {
  display: none;
}

/****************************
Debut _oriteddyarticles.html
*****************************/
#blocPageTeddies {
  text-align: center;
}

#titlePageTeddy {
  font-family: "Finger Paint", cursive, sans-serif;
  margin-top: 20rem;
}

#blocSectionArticles {
  padding-top: 15rem;
  margin-bottom: -8rem;
}

#blocCardArticle {
  border: 3px solid #e68a09;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#linkCardArticle {
  text-decoration: none;
  color: black;
}

#imageCardArticle {
  width: 100%;
}

.detailsCardArticle {
  display: grid;
  /*row(rang) / column (col) */
  grid-template: 1fr 1fr/repeat(2, 1fr);
  background-color: #fbcd8d;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 16px;
  margin-top: -4px;
}

#titleCardArticle {
  grid-area: 1;
  font-size: 25px;
  border: 3px solid #e68a09;
  background-color: #f1f1f1;
  padding: 5px;
}

#priceCardArticle {
  /*debut row / debut col / fin row / fin col */
  grid-area: 2/3/2/-1;
  font-size: 20px;
  margin-right: 20px;
  margin-top: -5px;
  border: 3px solid #e68a09;
  background-color: #f1f1f1;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/****************************
Fin _oriteddyarticles.html
*****************************/

/*# sourceMappingURL=style.css.map */
